.navbar h5,p{
    font-style: oblique;
    color: rgb(250, 9, 150) !important;
    /* font-size:xx-large; */
    border: darkorange;
    background-color: rgb(241, 245, 245) !important;
}
.navbar p,h5{
    font-style: oblique;
    color: rgb(236, 69, 3) !important;
    font-size:xx-large;
    border: darkorange;
    background-color: rgb(241, 245, 245) !important;
}